body{
  text-align: center;
  background-color:pink;

}
.top{
  background-image: url('https://cdn.mos.cms.futurecdn.net/sdSHp2akMYc4EoZAoRE77k-1200-80.jpg');
  width: 1500px;
  background-size: cover;


}

h1{
  color: white;
  text-shadow: 3px 2px midnightblue;
  font-size: 42px;
}

h1{
  background-color: grey;
  border: 5px solid black;
  width: 100%
}

.me{
  border: 5px solid black;

}

.top {
border:5px solid black;
}

.col-6{ font-size: 35px;
}

h3 {
  background-color: grey;
  border: 5px solid black;
  width: 100%;
  color: white;
  text-shadow: 3px 2px midnightblue;
  font-size: 42px
}

  .col-sm-6 {
    border:5px solid black;
    font-size: 70px;
      color: white;
      background-color: grey;
      text-align: center;

  }

h2{
  color: white;
  text-shadow: 3px 2px midnightblue;
  font-size: 42px;
  background-color: grey;
  border:5px solid black;
}
